            body {
                margin: 0;
                padding: 0;
                background-color: white;
            }

            #navigation {
                width: 100%;
                position: fixed;
                display: inline-block;
                text-align: center;
                background-color: #618B25;
                z-index: 1;
                opacity: 0.9;
            }

            .navigation li {
                display: inline;
                padding: 20px;
                z-index: 1;
            }

            .navigation li a {
                font-family:LondrinaSolid-Regular.otf;
                color: saddlebrown;
                font-size: 20pt;
            }


            .home {
                margin: 0;
            }

            #story {
                width: 100%;
                height: 1100px;
                background-image: url(Lion.JPG);
                background-size: cover;
                position: absolute;
                background-repeat: no-repeat;
            }

            #bluesquare {
                width: 80%;
                height: 400px;
                background-color: #1B9AAA;
                opacity: 0.5;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                margin-top: 250px;
                border-radius: 25pt;
                text-align: center;
                padding-top: 200px;
                padding-bottom: 200px;
            }

            #bluesquare>h2 {
                font-size: 75pt;
                position: absolute;
                text-align: center;
            }

            #bluesquare>p {
                font-size: 20pt;
                text-align: center;
            }

            .menu {
                z-index: 2;
                position: absolute;
                background-color: darkred;
            }

            #menu h2 {
                text-align: center;
                font-size: 36pt;
            }


            #reserveform{
                text-align: left;
                background:#1B9AAA;
                padding: 50px;
                border-radius:25%;
                float:left;}

            .input {
                margin: 40pt;
                    }

            .col-lg-12 p{
                        font-size: 20pt;
                        color:  #5B4019;
                        }
            
            #contact{background: #62C0CD;}

            footer {
                background-color: #B6DA83;
                width: 100%;
                height: 100px;
                padding: 0;
                position: relative;
                bottom: 0;
                text-align: bottom-right;
            }

            #logo {
                width: auto;
                height: 60px;
                opacity: 1.0;
            }

            #info {
                bottom: 200px;
                text-align: center;
                font-family: Arial;
                font-size: 20pt;
            }

            #outside {
                width: 100%;
                height: 1000px;
                background-image: url(blur-lion.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }

            #copy {
                float: right;
                margin-top: 75px;
                margin-right: 40px;
            }

            .default-section {
                height: 100%;
                padding-top: 200px;
                text-align: center;
                background: #fff;
            }

            .top-section {
                height: 100%;
                text-align: center;
            }

            .reservation-section {
                height: 100%;
                padding-top: 200px;
                text-align: center;
                background: #ccc;
            }
